annotated-types==0.6.0
biopython==1.83
cfgv==3.4.0
distlib==0.3.8
filelock==3.13.4
identify==2.5.35
iniconfig==2.0.0
nodeenv==1.8.0
numpy==1.26.4
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.7.0
pydantic==2.7.0
pydantic-core==2.18.1
pyright==1.1.363
pytest==8.1.1
pyyaml==6.0.1
ruff==0.3.7
setuptools==69.5.1
typing-extensions==4.11.0
virtualenv==20.25.1
